* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3 {
  font-weight: 300;
}
.product_card {
  display: flex;
  gap: 12px;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.569);
  margin: 20px;
  width: 100%;
  max-width: 500px;
}
.product_card img {
  height: 200px;
  width: 230px;
  object-fit: cover;
  border-radius: 12px;
}

.product_card > button{
  margin-top: auto;
}

.pc_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pc_content h1 {
  padding: 0;
  margin: 0;
}

.pc_content p {
  padding: 0;
  margin: 5;
}